<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Home')}"></head>

<body>

<header th:replace="~{fragment :: header('Sistema de Registros Escolares', '/')}"></header>

<main>

  <div class="container mt-4">
    <div class="list-group">
      <button class="list-group-item list-group-item-action"
      th:onclick="'window.location.href=\'/teachers\''">Professores</button>

      <button class="list-group-item list-group-item-action">Cursos</button>
    </div>
  </div>

</main>


</body>
</html>