<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="~{fragment :: head('Detalhes do Professor')}"></head>

<body>

<header th:replace="~{fragment :: header('Detalhes do Professor: '+${teacher.getName()}, '/teachers')}"></header>

<main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <b>Nome: </b><span th:text="${teacher.getName()}"></span><br/>
                <b>Salário: </b><span th:text="${teacher.getSalary()}"></span><br/>
                <b>Status: </b><span th:text="${teacher.getStatus().toString()}"></span><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#">Editar</a><a href="/teachers" class="ml-1">Voltar</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>